<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign Tag to Gift</title>
    <!-- Enlace a los estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<!-- Navbar de Bootstrap -->
<!-- ... Puedes copiar el código de tu Navbar existente aquí ... -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gifts Control</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gifts}">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tags}">Tags</a>
            </li>
        </ul>
    </div>
</nav>

<br>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Assign Tag to Gift</h2>
            <form th:action="@{/gifts/assign-tag/{giftId}(giftId=${gift.giftId})}" method="post">
                <div class="form-group">
                    <label for="tagId">Select a Tag to Assign:</label>
                    <select class="form-control" id="tagId" name="tagId">
                        <option th:each="tag : ${availableTags}"
                                th:value="${tag.tagId}"
                                th:text="${tag.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Assign Tag</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts de Bootstrap (jQuery y Popper.js) -->
<!-- ... Puedes copiar los scripts de Bootstrap existentes aquí ... -->
</body>
</html>