<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>CREATION OF GIFTS</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gifts Control</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gifts}">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tags}">Tags</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">GIFT REGISTER</h1>
            <div CLASS="card-body">
                <form th:action="@{/tags}" th:object="${tag}" method ="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text"  name="name" th:field="*{name}" class="form-control" placeholder="write the name of the tag ">
                    </div>

                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">save</button>


                    </div>

                </form>

            </div>


        </div>



    </div>


</div>


</body>
</html>













