<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gifts Control</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gifts}">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tags}">Tags</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">edit</h1>
            <div CLASS="card-body">
                <form th:action="@{/gifts/update/{giftId}(giftId=${gift.giftId})}" th:object="${gift}" method ="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text"  name="name" th:field="*{name}" class="form-control" placeholder="write the name of the gift ">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text"  name="description" th:field="*{description}" class="form-control" placeholder="write the description of the gift ">
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <input type="text"  name="price" th:field="*{price}" class="form-control" placeholder="write price of the gift ">
                    </div>

                    <div class="form-group">
                        <label>duration</label>
                        <input type="number"  name="duration" th:field="*{duration}" class="form-control" placeholder="write the duration for the gift ">
                    </div>

                    <div class="form-group">
                        <label>Create_date</label>
                        <input type="text"  name="creation_date" th:field="*{createDate}" class="form-control" placeholder="write the creation date of the gift (yyyy-mm-dd) ">
                    </div>

                    <div class="form-group">
                        <label>Update_date</label>
                        <input type="text"  name="last_update" th:field="*{lastUpdateDate}" class="form-control" placeholder="write the last update of the gif (yyyy-mm-dd) ">
                    </div>
                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">save</button>


                    </div>

                </form>

            </div>


        </div>



    </div>


</div>


</body>
</html>













