<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>LIST OF GIFTS</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gifts Control</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gifts}">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tags}">Tags</a>
            </li>
        </ul>
    </div>
</nav>

        <div class="container">
    <div CLASS="row">
        <h1> List of certificates</h1>
    </div>

            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/gifts/new}" class="btn btn-primary btn-sm mb3">add Certificate</a>

                </div>
            </div>
            <br>

    <table CLASS="table">
        <thead class="table-dark">
        <tr>
            <th>ID_Certificate</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price($)</th>
            <th>duration_Certificate(days)</th>
            <th>Create_Date</th>
            <th>Update_Date</th>
            <th>Tags_assign(ID) </th>
            <th>ACTIONS</th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="giftCer : ${gifts}">
            <td th:text="${giftCer.getGiftId()}">ID_Certificate</td>
            <td th:text="${giftCer.getName()}">Name</td>
            <td th:text="${giftCer.getDescription()}">Description</td>
            <td th:text="${giftCer.getPrice()}">Price</td>
            <td th:text="${giftCer.getDuration()}">duration_Certificate</td>
            <td th:text="${giftCer.getCreateDate()}">Create_Date</td>
            <td th:text="${giftCer.getLastUpdateDate()}">Update_Date</td>

            <td>
    <span th:each="tag : ${giftCer.assignedTags}" th:text="${tag.tagId}">,</span>
            </td>
            <td>
                <a th:href="@{/gifts/see/{id}(id=${giftCer.giftId})} "class="btn btn-info"> edit</a>
                <a th:href="@{/gifts/del/{id}(id=${giftCer.giftId})} "class="btn btn-danger"> delete</a>
                <a th:href="@{/gifts/assign-tag/{id}(id=${giftCer.giftId})}" class="btn btn-success">Assign Tag</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    </body>
</html>