<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>LIST OF TAGS</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gifts Control</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gifts}">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tags}">Tags</a>
            </li>
        </ul>
    </div>
</nav>

        <div class="container">
    <div CLASS="row">
        <h1> List of Tags</h1>
    </div>

            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/tags/new}" class="btn btn-primary btn-sm mb3">add tag</a>

                </div>

            </div>
            <br>

    <table CLASS="table">
        <thead class="table-dark">
        <tr>
            <th>ID_Tag</th>
            <th>Name</th>
            <th>ACTIONS</th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="tagCer : ${tags}">
            <td th:text="${tagCer.getTagId()}">ID_Tag</td>
            <td th:text="${tagCer.getName()}">Name for the tag</td>

            <td>
                <a th:href="@{/tags/del/{id}(id=${tagCer.tagId})} "class="btn btn-danger"> delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    </body>
</html>